{{- if (.Values.exec).replication }}
{{- range $key, $value := .Values.exec.deployments }}
  {{- include "foglifter.execDeployments" (dict "root" $ "deploy" $value "deployName" $key) }}
{{- end }}
{{- else }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-exec
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" ((.Values.exec).defaults).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-exec
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-exec
        app: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      containers:
        - name: exec-app
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" ((.Values.exec).defaults).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          image: "{{ default "ghcr.io/vso-inc/" .Values.registry }}{{ default "foglifter-exec-app" ((.Values.exec).defaults).repository }}{{ $imageTagDelimiter }}{{ default "latest" ((.Values.exec).defaults).tag }}"
          imagePullPolicy: "{{ default "Always" .Values.imagePullPolicy }}"
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          env:
            {{- $decryptionKeySecret := "" }}
            {{- if .Values.decryptionKeySecret }}
              {{- $decryptionKeySecret = .Values.decryptionKeySecret }}
            {{- else }}
              {{- range $i, $secret := (lookup "v1" "Secret" .Release.Namespace "").items }}
                {{- if (get (get $secret "data" | default dict) "DECRYPTION_KEY") }}
                  {{- $decryptionKeySecret = $secret.metadata.name }}
                {{- end }}
              {{- end }}
            {{- end }}
            {{- if $decryptionKeySecret }}
            - name: DECRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ $decryptionKeySecret }}
                  key: DECRYPTION_KEY
            {{- end }}
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: EXECUTOR_APIKEY
            - name: NODE_OPTIONS
              {{- if ((((.Values.exec).defaults).resources).limits).memory }}
              {{- $moss := regexReplaceAll "[^0-9]+" ((((.Values.exec).defaults).resources).limits).memory "" }}
              value: {{ printf "--max-old-space-size=%s %s" $moss (((.Values.exec).defaults).env).NODE_OPTIONS | trim }}
              {{- else }}
              value: {{ (((.Values.exec).defaults).env).NODE_OPTIONS | default "" | quote }}
              {{- end }}
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if ((.Values.exec).defaults).env }}
            {{- range $key, $val := omit .Values.exec.defaults.env "NODE_OPTIONS" }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- if ((.Values.exec).defaults).secretRef }}
            {{- with .Values.exec.defaults.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
            {{- end }}
          resources:
            {{- default dict ((.Values.exec).defaults).resources | toYaml | nindent 12 }}
      {{- with ((.Values.exec).defaults).antiAffinity }}
      {{- if or .self .custom }}
      affinity:
        podAntiAffinity:
          {{- if .self }}
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: name
                    operator: In
                    values:
                      - {{ $.Release.Name }}-exec
              topologyKey: kubernetes.io/hostname
          {{- end }}
          {{- if .custom }}
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    {{- toYaml .custom | nindent 20 }}
                topologyKey: kubernetes.io/hostname
          {{- end }}
      {{- end }}
      {{- end }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
{{- end }}
