{{- if (.Values.exec).replication }}
{{- range $key, $value := .Values.exec.deployments }}
  {{- include "foglifter.execDeployments" (dict "root" $ "deploy" $value "deployName" $key) }}
{{- end }}
{{- else }}
{{- $exec := required "exec must be set" .Values.exec }}
{{- $defaults := required "exec.defaults must be set" .Values.exec.defaults }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-exec
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" $defaults.replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-exec
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-exec
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{-
        $nodeSelector := $defaults.nodeSelector |
          default (.Values.podOptions).nodeSelector
      }}
      {{- with $nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{-
        $tolerations := $defaults.tolerations |
          default (.Values.podOptions).tolerations
      }}
      {{- with $tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: exec-app
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" $exec.tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-exec-app" $exec.repository)
                ($imageTagDelimiter)
                (default "latest" $exec.tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy | quote }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          env:
            {{- if .Values.decryptionKeySecret }}
            - name: DECRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.decryptionKeySecret }}
                  key: DECRYPTION_KEY
            {{- end }}
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: EXECUTOR_APIKEY
            - name: NODE_OPTIONS
              {{- if (($defaults.resources).limits).memory }}
              {{- $moss := regexReplaceAll "[^0-9]+" (($defaults.resources).limits).memory "" }}
              value: {{ printf "--max-old-space-size=%s %s" $moss ($defaults.env).NODE_OPTIONS | trim }}
              {{- else }}
              value: {{ ($defaults.env).NODE_OPTIONS | default "" | quote }}
              {{- end }}
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if $defaults.env }}
            {{- range $key, $val := omit $defaults.env "NODE_OPTIONS" }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- with $defaults.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
                  optional: {{ $val.optional | default false }}
            {{- end }}
            {{- end }}
          {{- with $exec.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $exec.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $exec.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $defaults.resources }}
          resources:
            {{- default dict . | toYaml | nindent 12 }}
          {{- end }}
      {{- with $defaults.antiAffinity }}
      {{- if or .self .custom }}
      affinity:
        podAntiAffinity:
          {{- if .self }}
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: name
                    operator: In
                    values:
                      - {{ $.Release.Name }}-exec
              topologyKey: kubernetes.io/hostname
          {{- end }}
          {{- if .custom }}
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    {{- toYaml .custom | nindent 20 }}
                topologyKey: kubernetes.io/hostname
          {{- end }}
      {{- end }}
      {{- end }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
{{- end }}
