---
# Recommended default FogLifter® configurations

# Image registry for all FogLifter® deployments
# Should end with forward-slash if set (e.g. "quay.io/")
registry: "ghcr.io/vso-inc/"
# ImagePullPolicy for all FogLifter® deployments
imagePullPolicy: IfNotPresent
# ImagePullSecret name for all FogLifter® deployments
# Must be created separately from helm install/upgrade
imagePullSecret: "foglifter-pullsecret"

# FogLifter® API secret
apiSecret:
  # Create Secret
  create: true
  # API secret data
  data:
    # Values can be any random strings, e.g. `openssl rand -hex 32`
    SECRET_KEY: ""
    AUTH_APIKEY: ""
    CORE_APIKEY: ""
    EXECUTOR_APIKEY: ""
    SCHEDULER_APIKEY: ""
  # Existing secret name
  # Must contain SECRET_KEY
  # Must contain API keys for all required FogLifter® deployments
  # AUTH_APIKEY, CORE_APIKEY, EXECUTOR_APIKEY, SCHEDULER_APIKEY
  name: ""

# FogLifter® ConfigMap parameters
cm:
  # Create ConfigMap
  create: true
  # Environment variables to be passed to all FogLifter® deployments via ConfigMap
  data:
  #   ENV_VAR_NAME: value

# FogLifter® Secret parameters
secret:
  # Create Secret
  create: false
  # Environment variables to be passed to all FogLifter® deployments via Secret
  data:
  #   ENV_VAR_NAME: value

# FogLifter® PriorityClass parameters
priorityClass:
  # Create PriorityClass to resist eviction
  create: true
  # PriorityClass priority value
  value: 1000000
# FogLifter® MongoDB secret name
# Must contain MONGO_URI
# Ignored if mongob-kubernetes.enabled is true
mongoSecret: ""

# FogLifter® MongoDB backups cronjob parameters
backups:
  # Enable MongoDB backups cronjob
  enabled: false
  # Cronjob schedule
  schedule: "0 0 * * *"
  # Number of backups to retain
  retain: 3
  # Backups PersistentVolumeClaim storage size
  storage: 10Gi
  # Backups PersistentVolumeClaim storage class
  storageClass: ""
  # Cronjob extra environment variables
  env:
  #   ENV_VAR_NAME: value
  # Cronjob extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Cronjob resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

# FogLifter® apiservice deployment parameters
apiservice:
  # Apiservice deployment port
  port: 8080
  # Apiservice deployment replicas
  replicas: 1
  # Apiservice deployment image repository
  repository: foglifter-api-service
  # Apiservice deployment image tag
  tag: prod
  # Apiservice trust token hash key (TRUST_TOKEN_HASH_KEY)
  trustToken: ""
  # Apiservice deployment extra environment variables
  env:
    API_PREFIX: "api"
    EXCLUDE_ROUTES_FROM_LOGGING_ARRAY: |
      [
        "/api/v1/heartbeat",
        "/api/v1/health",
        "/api/v1/notification/process",
        "/api/v1/scheduler/settings"
      ]
  # Apiservice deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Apiservice deployment probes
  livenessProbe:
    httpGet:
      path: /api/v1/health
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /api/v1/health
    initialDelaySeconds: 3
    periodSeconds: 3
  startupProbe:
    httpGet:
      path: /api/v1/health
  # Apiservice deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

# FogLifter® auth deployment parameters
auth:
  # Auth deployment port
  port: 8080
  # Auth deployment replicas
  replicas: 1
  # Auth deployment image repository
  repository: foglifter-auth-service
  # Auth deployment image tag
  tag: prod
  # Auth deployment extra environment variables
  env:
    EXCLUDE_ROUTES_FROM_LOGGING_ARRAY: |
      [
        "/api/auth/system/health"
      ]
  # Auth deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Auth deployment probes
  livenessProbe:
    httpGet:
      path: /api/auth/system/health
    periodSeconds: 5
  readinessProbe:
    httpGet:
      path: /api/auth/system/health
    initialDelaySeconds: 5
    periodSeconds: 3
  startupProbe:
    httpGet:
      path: /api/auth/system/health
  # Auth deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

# FogLifter® UI client deployment parameters
client:
  # Enable client deployment
  enabled: true
  # Client deployment port
  port: 3000
  # Client deployment replicas
  replicas: 1
  # Client deployment image repository
  repository: foglifter-client
  # Client deployment image tag
  tag: prod
  # Client deployment extra environment variables
  env:
  #   ENV_VAR_NAME: value
  # Client deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Client deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Client deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

# FogLifter® compliance parameters
compliance:
  # Enable compliance API
  enabled: false
  # Compliance API deployment port
  port: 3000
  # Compliance API deployment replicas
  replicas: 1
  # Compliance API deployment image repository
  repository: foglifter-compliance-api
  # Compliance API deployment image tag
  tag: prod
  # Enable DB init Helm hook
  enableInitHook: true
  # Compliance API deployment secret parameters
  secret:
    # Create Secret
    create: true
    # DB_PASSWORD
    password: ""
    # DB_URL
    url: ""
    # JWT_SECRET_KEY
    jwt: ""
    # Existing secret name
    # Must contain above environment variables
    name: ""
  # Compliance API deployment extra environment variables
  env:
    BCRYPT_SALT: "10"
    JWT_EXPIRATION: 2d
  # Compliance API deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Compliance API deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Compliance API deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

mssql:
  # Deploy an MSSQL instance for compliance
  enabled: false
  # Values to be passed to mssql helm chart
  # https://gitlab.com/xrow-public/helm-mssql/-/blob/1.0.3/chart/README.md
  # https://gitlab.com/xrow-public/helm-mssql/-/blob/1.0.3/chart/values.yaml
  fullnameOverride: foglifter-compliance-mssql
  auth:
    database: FogLifter_Compliance
    rootPassword: ""
    username: foglifter
    password: ""
    existingSecret: ""

# FogLifter® core deployment parameters
core:
  # Core deployment port
  port: 8080
  # Core deployment replicas
  replicas: 1
  # Core deployment image repository
  repository: foglifter-core-app
  # Core deployment image tag
  tag: prod
  # Core deployment extra environment variables
  env:
  #   ENV_VAR_NAME: value
  # Core deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Core deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Core deployment resources
  resources:
  #   requests:
  #     cpu: 1000m
  #     memory: 2048Mi
  #   limits:
  #     cpu: 4000m
  #     memory: 8192Mi

# FogLifter® exec deployment parameters
exec:
  # Exec deployment image repository
  repository: foglifter-exec-app
  # Exec deployment image tag
  tag: prod
  # Exec deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Enable replication which splits exec app into multiple deployments based on job queue(s)
  replication: false
  # Shared/default values for all exec deployments
  defaults:
    # Exec deployment podAntiAffinity
    antiAffinity:
      # Anti-affinity between replicas of the same deployment
      self: true
      # Custom pod anti-affinity rules
      custom:
      #   - key: "name"
      #     operator: "In"
      #     values:
      #     - "mongodb"
    # Exec deployment nodeSelector
    nodeSelector: {}
    # Exec deployment tolerations
    tolerations: {}
    # Exec deployment extra environment variables
    env:
      NODE_OPTIONS: "--experimental-vm-modules"
    # Exec deployment extra environment variables from existing secret
    secretRef:
    #   ENV_VAR_NAME:
    #     name: secret-name
    #     key: secret_key
    # Exec deployment resources - default
    resources:
    #   requests:
    #     cpu: 2000m
    #     memory: 4096Mi
    #   limits:
    #     cpu: 4000m
    #     memory: 8192Mi
  # Exec deployments configurations if replication is true
  # Each entry defines a separate deployment for the specified execution queue(s)
  # Defaults to a standard and system deployment, but can be customized as needed
  deployments:
    standard:
      replicas: 1
      queues:
        - standard
      # antiAffinity:
      #   custom: {}
      # nodeSelector: {}
      # tolerations: {}
      env:
        CONCURRENT_JOBS: 1
        NODE_OPTIONS: "--experimental-vm-modules"
      # secretRef: {}
      # resources: {}
    system:
      replicas: 1
      queues:
        - system
        # - compliance
      # antiAffinity:
      #   custom: {}
      # nodeSelector: {}
      # tolerations: {}
      env:
        CONCURRENT_JOBS: 5
        NODE_OPTIONS: "--experimental-vm-modules"
      # secretRef: {}
      # resources:
      #   requests:
      #     cpu: 250m
      #     memory: 2048Mi
      #   limits:
      #     cpu: 1000m
      #     memory: 2048Mi
    # Custom deployments can be added in the same format as above
    # compliance:
    #   replicas: 1
    #   queues:
    #     - compliance
    #   antiAffinity:
    #     custom: {}
    #   env:
    #     CONCURRENT_JOBS: 5
    #     NODE_OPTIONS: "--experimental-vm-modules"
    #   secretRef: {}
    #   resources: {}
# FogLifter® routing service deployment parameters
routing:
  # Enable routing service deployment
  enabled: true
  # Routing service deployment port
  port: 8080
  # Routing service deployment replicas
  replicas: 1
  # Routing service deployment image repository
  repository: foglifter-routing-service
  # Routing service deployment image tag
  tag: prod
  # Routing service deployment extra environment variables
  env:
  #   ENV_VAR_NAME: value
  # Routing service deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Routing service deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Routing service deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi
scheduler:
  # Enable scheduler deployment
  enabled: true
  # Scheduler deployment port
  port: 8080
  # Scheduler deployment replicas
  replicas: 1
  # Scheduler deployment image repository
  repository: foglifter-scheduler
  # Scheduler deployment image tag
  tag: prod
  # Scheduler deployment extra environment variables
  env:
    EXPRESS_JSON_SIZE_LIMIT: 10mb
    LOG_LEVEL: info
    SCHEDULER_HEARTBEAT_INTERVAL: 60000
    SCHEDULER_AUTH_INTERVAL: 10000
    SCHEDULER_SETTINGS_INTERVAL: 15000
  # Scheduler deployment extra environment variables from existing secret
  secretRef:
  #   ENV_VAR_NAME:
  #     name: secret-name
  #     key: secret_key
  # Scheduler deployment probes
  livenessProbe: {}
  readinessProbe: {}
  startupProbe: {}
  # Scheduler deployment resources
  resources:
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  #   limits:
  #     cpu: 500m
  #     memory: 2048Mi

# FogLifter® ingress configurations
ingress:
  # Enable ingress
  enabled: false
  # Ingress class name
  class: ""
  # Ingress hostnames
  host: ""
  # Ingress TLS configurations
  tls:
    # Enable TLS
    enabled: false
    # Secret name for TLS certificate
    secret: ""
  # Ingress annotations
  annotations: {}

# FogLifter® service configurations
service:
  # Service type (ClusterIP, NodePort, LoadBalancer, etc.)
  type: ClusterIP
  # Service annotations
  annotations: {}

# Default pod options for all FogLifter® deployments
podOptions:
  # Node selector for pod scheduling
  nodeSelector: {}
  # Tolerations for pod scheduling
  tolerations: []
  # Labels to be added to all pods
  labels: {}
  # Annotations to be added to all pods
  annotations: {}

# MongoDB Kubernetes Operator parameters
mongodb-kubernetes:
  # Enable MongoDB Kubernetes Operator
  # If enabled, the secret defined in passwordSecretRef.name must be created separately, and passwordSecretRef.key must be set to the password key in that secret
  # See https://github.com/mongodb/mongodb-kubernetes/blob/master/docs/mongodbcommunity/users.md
  enabled: true
  # Values to be passed to mongodb-kubernetes helm chart
  # https://github.com/mongodb/mongodb-kubernetes/blob/master/helm_chart/values.yaml
  community:
    resource:
      name: foglifter-mongodb
      version: 6.0.27
      members: 3
      users:
        - name: foglifter
          db: foglifterDB
          # This secret with password must be created separately, see above
          passwordSecretRef:
            name: foglifter-mongodb
            key: password
          roles:
            - name: dbOwner
              db: foglifterDB
          scramCredentialsSecretName: foglifter-mongodb
      # StatefulSet API configurations
      # https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/
      statefulSet:
        spec:
          volumeClaimTemplates:
            - metadata:
                name: data-volume
              spec:
                storageClassName: ""
                resources:
                  requests:
                    storage: 10Gi
            - metadata:
                name: logs-volume
              spec:
                storageClassName: ""
                resources:
                  requests:
                    storage: 10Gi
          # containers:
          #   - name: mongod
          #     resources:
          #       requests:
          #         cpu: 500m
          #         memory: 4096Mi
          #       limits:
          #         cpu: 500m
          #         memory: 4096Mi
