# Argo CD Image Updater
imageUpdater:

  # Enable Argo CD Image Updater
  enabled: true
  # Argo CD Image Updater version
  version: 0.12.3
  # Argo CD Image Updater registry configurations
  registries: []

# Recommended default FogLifter configurations
foglifter:

  # Argo CD application configurations
  application:
    # Install application
    install: true
    # Application destination namespace
    namespace: foglifter
    # Application name
    name: foglifter
    # Application Argo CD project
    project: foglifter
    # Chart version
    version: 0.2.1

# Recommended default FogLifter MongoDB backend configurations
mongo:

  # Argo CD application configurations
  application:
    # Install application
    install: false
    # Application name
    name: foglifter-mongo
    # Chart version
    version: 0.1.18

# Recommended default FogLifter Traefik ingress configurations
traefik:

  # Argo CD application configurations
  application:
    # Install application
    install: false
    # Application destination namespace
    namespace: traefik-system
    # Application name
    name: foglifter-traefik
    # Application Argo CD project
    project: traefik
    # FogLifter Traefik ingress chart version
    version: 0.1.18
    # Traefik chart version
    traefikVersion: 24.0.0
    # Traefik image tag
    imageTag: v3.0.0
    # Service type (ClusterIP, NodePort, LoadBalancer, etc.)
    serviceType: LoadBalancer

# Recommended default configurations for FogLifter View
view:

  # Argo CD application configurations
  application:
    # Install application
    install: false
    # Application destination namespace
    namespace: foglifter-view
    # Application name
    name: foglifter-view
    # Application Argo CD project
    project: view
    # Chart version
    version: 0.2.6

# Recommended default configurations for FogLifter Postgres
postgres:

  # Argo CD application configurations
  application:
    # Install application
    install: false
    # Application destination namespace
    namespace: foglifter-postgres
    # Application name
    name: foglifter-postgres
    # Application Argo CD project
    project: view
    # Chart version
    version: 0.1.4

# Recommended default configurations for FogLifter Redis
redis:

  # Argo CD application configurations
  application:
    # Install application
    install: false
    # Application destination namespace
    namespace: foglifter-redis
    # Application name
    name: foglifter-redis
    # Application Argo CD project
    project: view
    # Chart version
    version: 0.1.3
