kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-routing
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.routing).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-routing
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-routing
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: routing
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.routing).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-routing-service" (.Values.routing).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.routing).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          {{- $port := default "8080" (.Values.routing).port | int }}
          env:
            - name: PORT
              value: {{ $port | quote }}
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if (.Values.routing).env }}
            {{- range $key, $val := .Values.routing.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- with .Values.routing.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ $port }}
          {{- with (.Values.routing).livenessProbe }}
          livenessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.routing).readinessProbe }}
          readinessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.routing).startupProbe }}
          startupProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.routing).resources }}
          resources:
            {{- default dict . | toYaml | nindent 12 }}
          {{- end }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
