{{- $foglifter := .Values.foglifter | default dict }}
{{- $application := $foglifter.application | default dict }}
{{- if $application.install }}
{{- $values := omit $foglifter "application" }}
{{- $name := $application.name }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
  {{- $imageUpdater := .Values.imageUpdater | default dict }}
  {{- if $imageUpdater.enabled }}
  {{- $registry := .Values.foglifter.registry | default "ghcr.io/vso-inc/" }}
  {{- $services := $imageUpdater.services }}
  {{- $imageList := list }}
  {{- range $services }}
    {{- $svc := index $values . | default dict }}
    {{- $repo := $svc.repository }}
    {{- $tag := $svc.tag }}
    {{- $imageList = append $imageList (printf "foglifter-%s=%s%s:%s" . $registry $repo $tag) }}
    {{ printf "argocd-image-updater.argoproj.io/foglifter-%s.helm.image-tag: %s.tag" . . }}
  {{- end }}
    argocd-image-updater.argoproj.io/image-list: {{ $imageList | join ", " | quote }}
    argocd-image-updater.argoproj.io/update-strategy: digest
    argocd-image-updater.argoproj.io/pull-secret: {{ printf "pullsecret:%s/%s" .Release.Namespace (default "foglifter-pullsecret" $values.imagePullSecret) }}
  {{- end }}
  name: foglifter
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ default "foglifter" $application.project }}
  source:
    chart: foglifter
    repoURL: https://vso-inc.github.io/foglifter-helm
    targetRevision: {{ $application.version | semver }}
    helm:
      values: |
        {{- default dict $values | toYaml | nindent 8 }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ default "foglifter" $application.namespace }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
{{- end }}
