apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: foglifter
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Project for FogLifter and MongoDB backend
  sourceRepos:
    - '*'
  destinations:
    - namespace: {{ default "foglifter" ((.Values.foglifter).application).namespace }}
      server: https://kubernetes.default.svc
    {{- if ((.Values.mongo).application).namespace}}
    - namespace: {{ default "mongodb" ((.Values.mongo).application).namespace }}
      server: https://kubernetes.default.svc
    {{- end }}
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
    - group: scheduling.k8s.io
      kind: PriorityClass
