kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-apiservice
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.apiservice).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-apiservice
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-apiservice
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: apiservice-app
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.apiservice).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-api-service" (.Values.apiservice).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.apiservice).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
            {{- if (.Values.apiSecret).create }}
            - secretRef:
                name: {{ .Release.Name }}-api-secret
            {{- else if (.Values.apiSecret).name }}
            - secretRef:
                name: {{ .Values.apiSecret.name }}
            {{- else }}
            {{- fail "apiSecret.name must be set if apiSecret.create is false" }}
            {{- end }}
          {{- $port := default "8080" (.Values.apiservice).port | int }}
          env:
            {{- if (.Values.apiservice).trustToken }}
            - name: TRUST_TOKEN_HASH_KEY
              value: {{ (.Values.apiservice).trustToken | quote }}
            {{- end }}
            - name: PORT
              value: {{ $port | quote }}
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if (.Values.apiservice).env }}
            {{- range $key, $val := .Values.apiservice.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- if (.Values.apiservice).secretRef }}
            {{- with .Values.apiservice.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ $port }}
          resources:
            {{- default dict (.Values.apiservice).resources | toYaml | nindent 12 }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
