{{- if (ne (.Values.scheduler).enabled false) }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-scheduler
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.scheduler).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-scheduler
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-scheduler
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: scheduler
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.scheduler).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-scheduler" (.Values.scheduler).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.scheduler).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          {{- $port := default "8011" (.Values.scheduler).port | int }}
          env:
            - name: PORT
              value: {{ $port | quote }}
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: SCHEDULER_APIKEY
            {{- if not ((.Values.scheduler).env).FOGLIFTER_CORE_URL }}
            - name: FOGLIFTER_CORE_URL
              value: {{ printf "http://%s-core-svc:%s/api" .Release.Name (default "8080" (.Values.core).port | toString) | quote }}
            {{- end }}
            {{- if not ((.Values.scheduler).env).FOGLIFTER_API_URL }}
            - name: FOGLIFTER_API_URL
              value: {{ printf "http://%s-apiservice-svc:%s/api/v1" .Release.Name (default "8080" (.Values.apiservice).port | toString) | quote }}
            {{- end }}
            {{- if (.Values.scheduler).env }}
            {{- range $key, $val := .Values.scheduler.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- if (.Values.scheduler).secretRef }}
            {{- with .Values.scheduler.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ $port }}
          resources:
            {{- default dict (.Values.scheduler).resources | toYaml | nindent 12 }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
{{- end }}
