{{- if (.Values.apiSecret).create }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-api-secret
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
type: Opaque
stringData:
  {{-
    $secretVars := (
      list
        "AUTH_APIKEY"
        "COMPLIANCE_APIKEY"
        "CORE_APIKEY"
        "EXECUTOR_APIKEY"
        "SCHEDULER_APIKEY"
        "SECRET_KEY"
        "TOKEN_JWT_SECRET"
    )
  }}

  {{- range $secretVar := $secretVars }}
  {{- $value := get $.Values.apiSecret.data $secretVar }}

  {{- if not $value }}
  {{ $secretVar }}: {{ randAlphaNum 32 | b64enc }}
  {{- end }}

  {{- end }}

  {{- with .Values.apiSecret.data -}}
  {{- . | toYaml | nindent 2 }}
  {{- end }}
{{- end }}
