kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-auth
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.auth).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-auth
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-auth
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: auth-app
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.auth).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-auth-service" (.Values.auth).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.auth).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy | quote }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          {{- $port := default "8080" (.Values.auth).port | int }}
          env:
            {{- if or (.Values.apiservice).trustToken (.Values.auth).trustToken }}
            - name: TRUST_TOKEN_HASH_KEY
              value: {{ (.Values.auth).trustToken | default (.Values.apiservice).trustToken | quote }}
            {{- end }}
            - name: PORT
              value: {{ $port | quote }}
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: AUTH_APIKEY
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if (.Values.auth).env }}
            {{- range $key, $val := .Values.auth.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- with .Values.auth.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ $port }}
          {{- with (.Values.auth).livenessProbe }}
          livenessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.auth).readinessProbe }}
          readinessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.auth).startupProbe }}
          startupProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.auth).resources }}
          resources:
            {{- default dict . | toYaml | nindent 12 }}
          {{- end }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
