{{- if (ne (.Values.client).enabled false) }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-client
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.client).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-client
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-client
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: client
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.client).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-client" (.Values.client).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.client).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy | quote }}
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          env:
            - name: PORT
              value: "80"
            {{- if (.Values.client).env }}
            {{- range $key, $val := .Values.client.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- if (.Values.client).secretRef }}
            {{- with .Values.client.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
            {{- end }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: 80
          resources:
            {{- default dict (.Values.client).resources | toYaml | nindent 12 }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
{{- end }}
