{{- $imageUpdater := .Values.imageUpdater | default dict }}
{{- if $imageUpdater.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Release.Name }}-image-updater
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    chart: argocd-image-updater
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: {{ (.Values.imageUpdater).version | semver }}
    helm:
      values: |
        config:
          argocd:
            grpcWeb: false
            insecure: true
            serverAddress: {{ .Release.Name }}-server.{{ .Release.Namespace }}.cluster.local
          logLevel: debug
          {{- if (.Values.imageUpdater).registries }}
          registries:
            {{- default list .Values.imageUpdater.registries | toYaml | nindent 12 }}
          {{- end }}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: {{ .Release.Namespace }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - FailOnSharedResource=false
    automated:
      selfHeal: true
      prune: true
{{- end }}
