{{- if (ne (.Values.module).enabled false) }}
kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-module-svc
  labels:
    app: {{ .Release.Name }}
spec:
  type: {{ default "ClusterIP" (.Values.service).type }}
  {{- $port := default "8080" (.Values.module).port | int }}
  ports:
  - port: {{ $port }}
    targetPort: {{ $port }}
  selector:
    name: {{ .Release.Name }}-module
{{- end }}
