kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}-core
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ default "1" (.Values.core).replicas | int }}
  selector:
    matchLabels:
      name: {{ .Release.Name }}-core
  template:
    metadata:
      labels:
        name: {{ .Release.Name }}-core
        app: {{ .Release.Name }}
        {{- with (.Values.podOptions).labels }}
        {{- toYaml . | indent 8 }}
        {{- end }}
      {{- with (.Values.podOptions).annotations }}
      annotations:
        {{- toYaml . | indent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Release.Name }}-sa
      {{- with (.Values.podOptions).nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with (.Values.podOptions).tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-cm
      containers:
        - name: core-app
          {{- $imageTagDelimiter := ":" }}
          {{- if (hasPrefix "sha256:" (.Values.core).tag) }}
            {{- $imageTagDelimiter = "@" }}
          {{- end }}
          {{-
            $imageString := (
              printf "%s%s%s%s"
                (default "ghcr.io/vso-inc/" .Values.registry)
                (default "foglifter-core-app" (.Values.core).repository)
                ($imageTagDelimiter)
                (default "latest" (.Values.core).tag)
            )
          }}
          image: {{ $imageString }}
          imagePullPolicy: {{ default "Always" .Values.imagePullPolicy }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-cm
            {{- if and (ne (.Values.secret).create false) (.Values.secret).data }}
            - secretRef:
                name: {{ .Release.Name }}-secret
            {{- end }}
          {{- $port := default "8080" (.Values.core).port | int }}
          env:
            - name: PORT
              value: {{ $port | quote }}
            - name: APIKEY
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: CORE_APIKEY
            - name: TOKEN_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  {{- if (.Values.apiSecret).create }}
                  name: {{ .Release.Name }}-api-secret
                  {{- else if (.Values.apiSecret).name }}
                  name: {{ .Values.apiSecret.name }}
                  {{- end }}
                  key: TOKEN_JWT_SECRET
                  optional: true
            {{- include "foglifter.mongoUri" . | nindent 12 }}
            {{- if (.Values.core).env }}
            {{- range $key, $val := .Values.core.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
            {{- end }}
            {{- with .Values.core.secretRef }}
            {{- range $key, $val := . }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ $val.name }}
                  key: {{ $val.key }}
                  optional: {{ $val.optional | default false }}
            {{- end }}
            {{- end }}
          ports:
            - containerPort: {{ $port }}
          {{- with (.Values.core).livenessProbe }}
          livenessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.core).readinessProbe }}
          readinessProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.core).startupProbe }}
          startupProbe:
            {{- include "foglifter.probe" (dict "probe" . "port" $port) | nindent 12 }}
          {{- end }}
          {{- with (.Values.core).resources }}
          resources:
            {{- default dict . | toYaml | nindent 12 }}
          {{- end }}
      {{- if (ne (.Values.priorityClass).create false) }}
      priorityClassName: {{ .Release.Name }}
      {{- end }}
