{{- if (eq ((.Values.traefik).application).install true) }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ default "traefik" ((.Values.traefik).application).project }}
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: {{ ((.Values.traefik).application).traefikVersion | semver }}
    helm:
      values: |
        service:
          enabled: {{ ternary "false" "true" ((.Values.traefik).application).internal }}
          {{- if ((.Values.traefik).application).internal }}
          internal:
            type: ClusterIP
          {{- end }}
        image:
          tag: {{ default "v3.0.0" ((.Values.traefik).application).imageTag }}
        providers:
          kubernetesCRD:
            enabled: true
            allowCrossNamespace: true
            allowEmptyServices: true
        ports:
          {{- if (ne ((.Values.traefik).mongo).enabled false) }}
          mongo:
            port: {{ default "27017" ((.Values.traefik).mongo).port | int }}
            expose: true
            exposedPort: {{ default "27017" ((.Values.traefik).mongo).port | int }}
            protocol: TCP
          {{- end }}
          {{- if (ne ((.Values.traefik).postgres).enabled false) }}
          postgres:
            port: {{ default "5432" ((.Values.traefik).postgres).port | int }}
            expose: true
            exposedPort: {{ default "5432" ((.Values.traefik).postgres).port | int }}
            protocol: TCP
          {{- end }}
          {{- with ((.Values.traefik).extraPorts) }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        ingressRoute:
          dashboard:
            matchRule: PathPrefix(`/`)
        additionalArguments:
          - "--providers.kubernetescrd.allowCrossNamespace=true"
          {{- with ((.Values.traefik).additionalArguments) }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
        {{- if ((.Values.traefik).extraChartValues) }}
        {{- toYaml ((.Values.traefik).extraChartValues) | nindent 8 }}
        {{- end }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ default "traefik-system" ((.Values.traefik).application).namespace }}
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
{{- end }}
